<!DOCTYPE html>
<html>
<head>
    <title>Agregar Curso</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'administracion/styles.css' %}">
</head>
<body>
     <a href="{% url 'index' %}" class="ir">Volver al Inicio</a>
    <h1>Agregar Curso</h1>
    <img src="{% static 'administracion/curso.png' %}" alt="Logo UNSA" class="logo">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
</body>
<footer>
    <p>&copy; 2025 UNSA @autores:Romina Camargo, Paola Mayta</p>
</footer>
</html>