<!DOCTYPE html>
<html>
<head>
    <title>Página de Inicio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'administracion/styles.css' %}">
</head>
<body>
    <h1>Bienvenido al registrador de UNSA </h1>
    <ul>
        <li><a href="{% url 'agregar_curso' %}">Agregar Curso</a></li>
        <li><a href="{% url 'agregar_nota' %}">Listar Cursos</a></li>
        <li><a href="{% url 'agregar_alumno' %}">Agregar Alumno</a></li>
    </ul>
</body>
<footer>
    <p>&copy; 2025 UNSA</p>
</html>